---

---

<!DOCTYPE html>
<html lang="{{ lang }}"></html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FluffyChat Official Website | {{ title }}</title>
        <meta name="identifier-url" content="https://fluffychat.im"/>
        <meta name="title" content="FluffyChat Official Website"/>
        <meta name="description" content="The cutest messenger in the Matrix network"/>
        <meta name="abstract" content="FluffyChat is the cutest messenger in the Matrix network"/>
        <meta name="keywords" content="FluffyChat, Matrix, Flutter, App"/>
        <meta name="author" content="Krille Fear"/>
        <meta name="revisit-after" content="15"/>
        <meta name="language" content="EN"/>
        <meta name="robots" content="All"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
        <link href="/assets/tailwind.css" rel="stylesheet">
    </head>
    <body
        class="flex flex-col items-center min-h-screen w-full bg-gradient-to-t from-purple-200 to-blue-50 dark:from-purple-950
            dark:to-slate-900"
        style="font-family: 'Zen Kurenaido', sans-serif;">
        <!--Header-->
        <div class="w-full md:h-12 min-h-12 py-4 md:py-0 mb-8 bg-white/40 dark:bg-black/40 border-b border-slate-300
                dark:border-slate-700">
            <nav class="flex flex-wrap h-full justify-center items-center space-x-6 w-full max-w-4xl m-auto">
                <a href="/{{ lang }}/" class="{{ "underline" if (title=="Home") }} text-lg">{{ i18n[lang].website.home }}</a>
                <a href="/{{ lang }}/faq" class="{{ "underline" if (title=="FAQ") }} text-lg">{{ i18n[lang].website.faq }}</a>
                <a href="/{{ lang }}/changelog" class="{{ "underline" if (title=="Changelog") }} text-lg">
                    {{ i18n[lang].website.changelog }}</a>
                <a href="https://ko-fi.com/krille/posts" target="_blank" class="text-lg">{{ i18n[lang].website.blog }}
                </a>
                <div class="md:flex-grow"></div>
                <a href='https://ko-fi.com/C1C86VN53' class=" hover:scale-110 transition-transform" target='_blank'><img
                        height='36'
                        style='border:0px;height:36px;'
                        src='https://storage.ko-fi.com/cdn/kofi3.png?v=6'
                        border='0'
                        alt='Buy Me a Coffee at ko-fi.com'/>
                </a>
                <a href="https://troet.cafe/@krille" rel="me" class="m-2 hover:scale-110 transition-transform "><img src="/assets/mastodon.svg" class="h-7"/>
                </a>
            </nav>
        </div>
        {{ content | safe }}
        <!--Footer-->
        <div class="w-full flex justify-center">
            <footer class="w-full text-center max-w-4xl p-4 text-slate-700 dark:text-slate-200">
                <a class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm" href="/{{ lang }}/impressum">
                    {{ i18n[lang].website.impressumTitle }}</a>
                -
                <a class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm" href="/{{ lang }}/privacy">
                    {{ i18n[lang].website.privacyPolicy }}</a>
                -
                <a
                    class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm"
                    href="https://github.com/krille-chan/fluffychat">{{ i18n[lang].website.source_code }}</a>
                -
                <a
                    class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm"
                    href="https://liberapay.com/KrilleChritzelius">{{ i18n[lang].website.liberapay }}</a>
                -
                <a
                    class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm"
                    href="https://hosted.weblate.org/projects/fluffychat/">{{ i18n[lang].website.translations }}</a>
                -
                <a
                    class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm"
                    href="https://googlefonts.github.io/noto-emoji-animation/">{{ i18n[lang].website.noto_emoji }}</a>
                -
                <a
                    class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm"
                    href="https://krille-chan.github.io">{{ i18n[lang].website.created_by }}</a>
                <br/>
                <span class="text-slate-700 dark:text-slate-200 text-sm">{{ i18n[lang].website.language_title }}:
                </span>
                {% for language in i18n.languages %}
                    <a class="text-slate-700 dark:text-slate-200 underline hover:text-purple-800 text-sm" href="/{{ language }}/">{{ i18n[language].website.languageName }}</a>
                {% endfor %}
            </footer>
        </div>
    </body>
</html>