---
title: FAQ
layout: "article.njk"
pagination:
  data: i18n.languages
  size: 1
  alias: lang
eleventyComputed:
  permalink: "{{ lang }}/faq/index.html"
  lang: "{{ lang }}"
---

<h1 class="text-center">{{ i18n[lang].website.favouriteAskedQuestions }}</h1>
<p class="text-center">{{ i18n[lang].website.editFaq | safe }}</p>
<p class="text-center"><input id="searchField" type="text" placeholder="{{ i18n[lang].website.search }}" class="placeholder:text-slate-400 text-center text-slate-700 text-3xl bg-white border border-slate-200 rounded-full
                                            w-full px-8 py-4 my-8"/>
</p>
<span id="faqEntries">
  {% for tag, question in i18n[lang].faq_questions %}
    <h2 id="{{ tag }}:question" class="question">
      <a name="{{ tag }}" href="#{{ tag }}">#</a>
      {{ question }}
    </h2>
    <article class="mb-12" id="{{ tag }}:answer" class="answer">{{ i18n[lang].faq_answers[tag] | safe }}</article>
  {% endfor %}
</span>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const inputField = document.getElementById("searchField");
    inputField.oninput = (_) => {
      const query = inputField.value.toLowerCase();
      const questions = document.querySelectorAll("#faqEntries .question");
      for (var i = 0; i < questions.length; i++) {
        const questionNode = questions[i];
        const answerNodeId = questionNode.id.split(":")[0] + ":answer";
        const answerNode = document.getElementById(answerNodeId);
        const displayEntry = questionNode
          .innerText
          .toLowerCase()
          .includes(query) || answerNode
          .innerText
          .toLowerCase()
          .includes(query);
        questionNode.hidden = answerNode.hidden = ! displayEntry;
      }
    };
  });
</script>