---
title: Impressum
layout: "layout.njk"
pagination:
  data: i18n.languages
  size: 1
  alias: lang
eleventyComputed:
  permalink: "{{ lang }}/impressum/index.html"
  lang: "{{ lang }}"
---

<div class="container text-center p-32">
    <h1 class="font-bold">Impressum:</h1>
    <p>Christian Kußowski</p>
    <p>Prenzlauer Allee 221</p>
    <p>10405 Berlin</p>
    <br/>
    <h1 class="font-bold">Contact</h1>
    <p>✉️ E-Mail:
        <a
            class="underline hover:text-purple-800 dark:hover:text-purple-400"
            href="https://keys.mailvelope.com/pks/lookup?op=get&search=christian-pauly%40posteo.de">Click here</a>
    </p>
    <p>💬 Matrix:
        <a class="underline hover:text-purple-800 dark:hover:text-purple-400" href="https://matrix.to/#/@krille:janian.de">
            @krille:janian.de</a>
    </p>
</div>