---
title: Impressum
layout: "layout.njk"
pagination:
  data: i18n.languages
  size: 1
  alias: lang
eleventyComputed:
  permalink: "{{ lang }}/impressum/index.html"
  lang: "{{ lang }}"
---

<div class="container text-center p-32">
    <h1 class="font-bold">{{ i18n[lang].website.impressumTitle }}</h1>
    <p>{{ contact.name }}</p>
    <p>{{ contact.address.line1 }}</p>
    <p>{{ contact.address.line2 }}</p>
    <br/>
    <h1 class="font-bold">{{ i18n[lang].website.contactTitle }}</h1>
    <p>✉️ {{ i18n[lang].website.emailLabel }}
        <a class="underline hover:text-purple-800 dark:hover:text-purple-400" href="{{ contact.email_lookup }}">{{ i18n[lang].website.emailLinkText }}</a>
    </p>
    <p>💬 {{ i18n[lang].website.matrixLabel }}
        <a
            class="underline hover:text-purple-800 dark:hover:text-purple-400"
            href="https://matrix.to/#/{{ contact.matrix_handle }}">
            {{ contact.matrix_handle }}</a>
    </p>
</div>